*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
  background: #f0f0f0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.screen-container {
  width: 375px;
 height: calc(100vh - 50px);
  background: #ffffff;
  border: 1px solid #e5e5e5;
  margin: auto;
  position: relative;
  overflow: hidden;
  font-family: 'Inter', Arial, sans-serif;
}
